<html>
  <head>
    <title>Create Gossip</title>
  </head>
  <body>
    <p><strong>EDIT YOUR GOSSIP :</strong></p>
    <form action='/gossips/new/' method='POST'>
          [Name] :<input type='text' name='gossip_author'/>
         <br>
         <br/>
        [Gossip] :<input type='text' name='gossip_content'/>
      <br>
      <br/>
      <br>
      <input type='submit'/>
    </form>
  </body>
</html>