<html>
  <head>
    <title>GOSSIP PAGE</title>    
  </head>
  <body>
    <strong>Gossip n° <%= id %></strong>
         <p><%=show.author%></p>
         <br>
        <%= show.content%></p>
	      <p><a href ="/">HOME</a></p>
</body>
</html>