/*
 * @Author: D1SH
 * @Date:   2021-02-01 17:27:24
 * @Last Modified by:   D1SH
 * @Last Modified time: 2021-02-01 17:49:15
 */

 .em
 {
   color: rgb(219, 17, 219);
 }
 .h1
 {
   display: flexbox;
   justify-content: center;
   box-shadow: 10px;
   color:rgb(196, 209, 17);
 }